/***** 初期化 *****/
* {
  padding: 0;
  margin: 0;
}

/***** 初期設定 *****/
html, body, main {
    height: 100%;
}
.wrapper {
  width: 1000px ;
  margin: 0 auto;
}

/***** ヘッダー *****/
.header {
  height: 50px;
  background-color: red;
}

/* メニュー */
.menu {
  width: 200px;
  height: px; /* 合わせてみよう */
  background-color: #A9F5A9;
}

/* メイン画像 */
.main {
  width: 1000px;
  height: 500px;
  background-image: url(); /* 背景画像で表示してみよう */
  background:blue;
}

/* コンテンツ　画像 */
.content1 {
  height: 300px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1, .box2, .box3 {
  width: 250px;
  height: 250px;
  margin: 1em;
}

/* コンテンツ　ニュース */
.news {
  height: 250px;
  text-align: center;
  background-color: lightpink;
  line-height: 17px; /* ぴったりにしたけどなんか違う*/
}

.movie {
  height: 250px;
  margin: 0px; /* 5pxから変更 */
  background-color: pink;
}

/* コンテンツ　画像２ */
.content2 {
  height: 250px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center; /* 上下中央揃え追加 */
}

.box4, .box5, .box6 {
  width: 150px;
  height: 150px;
  margin: 33px;
  background-color: #A9F5A9;
}

/* コンテンツ　SNS */
.content3 {
  height: 350px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center; /* 上下中央揃え追加 */
}

.box7,.box8 {
  width: 300px;
  height: 300px;
  margin: 1em;
  background-color: #A9F5A9;
}

/* フッター */
.footer {
    height: 50px;
    background-color: lightpink;
}
