body {
  background: #ddd;/* 境界をわかりやすくするためだけの背景色 */
}

.header {
  width: 1000px;
  height: 50px;
  margin: 0px; /* 5pxから変更 */
  background-color: pink;
}

.rogo {
  width: 330px;
  height: 100px;
  margin: 20px auto; /* AUTOでセンタリング */
}

.menu {
  width: 600px;
  height: 50px;
  margin: 5px auto; /* AUTOでセンタリング */
  background-color: pink;
}

.main {
  width: 1000px;
  height: 896px;
  margin: 0 auto; /* 追加　AUTOでセンタリング */
  background-color: pink;
}

.content1 {
  width: 1000px;
  height: 333px;
  display: flex;
  padding-top:20px; /* 追加 上に隙間（MARGINでもOK）　*/
  padding-bottom: 20px; /* 追加 下に隙間（MARGINでもOK）　*/
}

.img1, .img2, .img3, .img4 {
    width: calc(100% / 4); /* 4等分します */
    height: 400px;
    margin: auto;
    background-color: pink;
    display: inline-block;
}

.img5, .img6, .img7 {
    width: calc(100% / 3); /* 3等分します */
    height: 400px;
    /*margin: auto;　FLEXBOXを追加したので、なしでOK　*/
    background-color: pink;
    display: inline-block;
}

/********/
/* 追加 */

/* 初期化 */
* {
  padding: 0;
  margin: 0;
}

/* 大枠を作ってセンタリング */
.wrapper {
  width: 1000px ;
  margin: 0 auto;
  background: #eee;/* 境界をわかりやすくするためだけの背景色 */
}

/* 境界が分かるように背景色の強制上書 */
.img1,.img3,.img6,.img9 {
  background: lightpink !important;
}

.content2 {
  width: 1000px;
  height: 400px;
  margin-top:20px; /* に隙間　*/
  margin-bottom: 20px; /* 下に隙間　*/
  border:1px solid #ccc; /* 枠線追加 */
  box-sizing:border-box; /* 枠線を内側に（外側だと左右1PX分余分になるため→WIDTH＝1000pxがWIDTH＝1002pxになってしまう！） */
  margin: auto;
}

.content2__upper,.content2__bottom {
  display: flex;
}

.menu2 {
    height: 180px;
    background-color: #A9F5A9;
}

.img8, .img9, .img10 {
    width: calc(100% / 3); /* 3等分します */
    height: 180px;
    background-color: pink;
    display: inline-block;
}

.content3 {
  height: 360px;
  background: pink;
  margin-bottom: 20px;
}

.footer {
    width: 1000px;
    height: 50px;
    background-color: lightpink;
}
