/***** 初期化 *****/
* {
  padding: 0;
  margin: 0;
}

/***** 初期設定 *****/
body {
  background: #ddd;/* 境界をわかりやすくするためだけの背景色 */
}
.wrapper {
  width: 1000px ;
  margin: 0 auto;
  background: #eee;/* 境界をわかりやすくするためだけの背景色 */
}

/***** ヘッダー *****/
.header {
  height: 50px;
  background-color: pink;
}
/* ロゴ */
.rogo {
  width: 330px;
  height: 100px;
  margin: 20px auto; /* AUTOでセンタリング */
}

/* メニュー */
.menu {
  width: 600px;
  height: 50px;
  margin: 5px auto; /* AUTOでセンタリング */
  background-color: pink;
}

/* メイン画像 */
.main {
  width: 1000px;
  height: 896px;
  margin: 0 auto; /* 追加　AUTOでセンタリング */
  background-color: pink;
}

/* コンテンツ 画像4 */
.content1 {
  height: 333px;
  display: flex;
  padding-top:20px; /* 追加 上に隙間（MARGINでもOK）　*/
  padding-bottom: 20px; /* 追加 下に隙間（MARGINでもOK）　*/
}
.img1, .img2, .img3, .img4 {
    width: calc(100% / 4); /* 4等分します */
    height: 333px;
    margin: auto;
    background-color: pink;
}
/* 境界が分かるように背景色の強制上書 */
.img1,.img3,.img6,.img9 {
  background: lightpink !important;
}

/* コンテンツ 画像6 */
.content2 {
  border:1px solid #ccc; /* 枠線追加 */
  box-sizing:border-box; /* 枠線を内側に（外側だと左右1PX分余分になるため→WIDTH＝1000pxがWIDTH＝1002pxになってしまう！） */
}
.content2__upper,.content2__bottom {
  display: flex;
}
.img5, .img6, .img7 {
    width: calc(100% / 3); /* 3等分します */
    height: 400px;
    /*margin: auto;　FLEXBOXを追加したので、なしでOK　*/
    background-color: pink;
}
.menu2 {
    height: 180px;
    background-color: #A9F5A9;
}
.img8, .img9, .img10 {
    width: calc(100% / 3); /* 3等分します */
    height: 200px;
    background-color: pink;
}

/* コンテンツ 3 */
.content3 {
  height: 360px;
  background: pink;
  margin-bottom: 20px;
}

/* フッター */
.footer {
    width: 1000px;
    height: 50px;
    background-color: lightpink;
}
